<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/app.css" />
</head>

<body>
    <a href="/">Back to Home</a>
    <p><strong>Tags: </strong>{{tags}}</p>
    {{{ contents }}}
</body>

</html>